body {
    background-color: rgb(255, 255, 255);
    color: $light-lighter;
    overflow-x: hidden;
    transition: all 2s;
}
.padding-top {
    padding-top: 90px;
}
.padding-bottom_large {
    padding-bottom: 120px;
}
.spacer {
    margin-bottom: 120px;
}
.spacer_small {
    margin-bottom: 60px;
}

ul {
    padding-left: 20px;
}