body {
    background-color: rgb(255, 255, 255);
    color: $light;
}
.padding-top {
    padding-top: 30px;
}
.padding-bottom_large {
    padding-bottom: 120px;
}
.spacer {
    margin-bottom: 120px;
}
.spacer_small {
    margin-bottom: 60px;
}
.navigation {
    position: fixed;
    top: 10vh;
    left: 30px;
}