body {
    background-color: rgb(255, 255, 255);
    color: $light;
    overflow-x: hidden;
}
.padding-top {
    padding-top: 30px;
}
.padding-bottom_large {
    padding-bottom: 120px;
}
.spacer {
    margin-bottom: 120px;
}
.spacer_small {
    margin-bottom: 60px;
}
.navigation {
    position: fixed;
    top: 10vh;
    height: 80vh;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul {
    padding-left: 20px;
}