.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    width: 10vw;
    background-color: black;
}
.dropdown {
    display: none;
    width: 80vw;
    position: fixed;
    top: 0;
    left: 10vw;
    height: 100vh;
    overflow-y: scroll;
  }
  .dropdown * {
    margin: .25em 0;
  }
.menu:hover .dropdown {
    display: flex;
    flex-direction: column;
    background-color: $murk;
    backdrop-filter: blur(6px);
}
.dropdown-child {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(77, 77, 77);
    &:hover {
        background-color: rgb(90, 126, 126);
    }
}
.dropdown-grandchild {
    display: none;
    width: 70vw;
    position: fixed;
    top: 0;
    left: 20vw;
    z-index: 9999;
    height: 100vh;
  }
.dropdown-child:hover .dropdown-grandchild {
    display: block;
    background-color: red;
    backdrop-filter: blur(6px);
}
.dropdown-grandchild:hover .dropdown-grandchild {
    display: block;
}