// @font-face {
//     font-family: 'Apercu';
//     src: url(/fonts/Apercu/ApercuPro-Medium.woff2) format('woff2'), url(/fonts/apercu/ApercuPro-Medium.woff) format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

body {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}

a, .nav-link {
    color: $light;
    text-decoration: none;
    &:hover {
        color: $light;
    }
}
.highlight {
    color: $gold;
    font-style: italic;
}
p {
    color: $light-lighter;
    font-weight: 300;
}
li p {
    margin-bottom: 0;
}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 2em;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5em;
    padding-top: 1em;
}
.navigation li {
    list-style-type: none;
    // margin-left: -40px;
}