// @font-face {
//     font-family: 'Apercu';
//     src: url(/fonts/Apercu/ApercuPro-Medium.woff2) format('woff2'), url(/fonts/apercu/ApercuPro-Medium.woff) format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Sabon';
    src: url('/fonts/Sabon.ttf') format('truetype');
  }

@font-face {
    font-family: 'SabonBold';
    src: url('/fonts/SabonBold.ttf') format('truetype');
  }

@font-face {
font-family: 'SabonItalic';
src: url('/fonts/SabonItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SabonBoldItalic';
    src: url('/fonts/SabonBoldItalic.ttf') format('truetype');
}

body {
    font-family: 'Sabon', serif;
    font-size: 16px;
}

a, .nav-link {
    color: $light;
    text-decoration: none;
    &:hover {
        color: $light;
    }
}
.caption {
    font-family: 'SabonItalic';
}
.highlight {
    color: $gold;
    font-family: 'SabonItalic';
}
p {
    color: $light-lighter;
    font-weight: 300;
}
hr {
    position: relative;
    z-index: -999999;
}
strong {
    font-weight: 800;
}
li p {
    margin-bottom: 0;
}
h1 {
    font-size: 36px;
}

h2 {
    font-family: "nitti-grotesk-light", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5em;
    padding-top: 1em;
}
.navigation li {
    list-style-type: none;
    // margin-left: -40px;
}