body {
  background-color: rgb(255, 255, 255);
  color: #3c3f3c;
}

.padding-top {
  padding-top: 30px;
}

.padding-bottom_large {
  padding-bottom: 120px;
}

.spacer {
  margin-bottom: 120px;
}

.spacer_small {
  margin-bottom: 60px;
}

.navigation {
  position: fixed;
  top: 10vh;
  left: 30px;
}

@font-face {
  font-family: "Apercu";
  src: url(/fonts/Apercu/ApercuPro-Medium.woff2) format("woff2"), url(/fonts/apercu/ApercuPro-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Apercu";
  font-size: 14px;
}

a, .nav-link {
  color: #3c3f3c;
  text-decoration: none;
}
a:hover, .nav-link:hover {
  color: #3c3f3c;
}

.highlight {
  color: #c3a021;
  font-style: italic;
}

p {
  color: #9c9c9c;
  font-weight: 300;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 14px;
}

li {
  list-style-type: none;
}

.active {
  color: inherit;
  list-style-type: disclosure-closed;
}

.thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  margin: 30px 0 15px 0;
  opacity: 0.3;
  transition: all 0.5s;
}
.thumbnail:hover {
  opacity: 1;
  transition: all 0.5s;
}

.additional-images {
  margin-bottom: 30px;
}

.main_image {
  max-width: 100%;
}
